<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tableu Embedded Serbamulia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="<%- pathUrl %>/stylesheets/style.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- <script
      src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js"
      type="text/javascript"
    ></script> -->
    <script
      type="module"
      src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"
    ></script>
  </head>
  <body>
    <div class="p-2">
      <label for="HeadlineAct" class="text-3xl font-medium text-gray-900">
        Choose Chart:
      </label>

      <select
        x-data="{groups: [], url: ''}"
        x-init="groups = getDropdownItem().sort((a, b) => {
          return a.group.localeCompare(b.group);
      })"
        name="HeadlineAct"
        id="HeadlineAct"
        class="min-w-60 rounded-lg border-gray-300 text-gray-700 text-2xl"
        x-on:change="(e) => handleOptionClick(e, $data)"
        style="padding: 10px 20px; margin: 0 15px 15px 10px"
      >
        <option value="">Please select</option>
        <template x-for="(group,groupIndex) in groups" :key="groupIndex">
          <optgroup :label="group.group">
            <template x-for="(item,itemIndex) in group.items" :key="itemIndex">
              <option :value="item.c_embed" x-text="item.c_title" :data-owner="item.c_owner" :data-utube="item.c_utube ? item.n_id : 0" :data-desc="item.c_desc ? item.n_id : 0"></option>
            </template>
          </optgroup>
        </template>
      </select>
      <label class="text-3xl font-medium text-gray-900" id="labelOwner"></label>
      <label style="float: right" id="labelUtube"></label>
      <label style="float: right" id="labelDesc"></label>
    </div>
    <div>
      <tableau-viz
        id="tableau-viz"
        token="<%- token %>"
        hide-tabs
        toolbar="bottom"
      ></tableau-viz>
      <iframe
        allowfullscreen
        frameborder="0"
        id="iframe"
        width="100%"
        height="767"
        style="border: 0"
      ></iframe>
    </div>
  </body>
  <script>
    const getDropdownItem = () => {
      const jsonData = JSON.parse('<%- master %>');

      // Create an object to store unique items within each group
      const groupedItems = {};

      // Iterate through each group
      jsonData.forEach((group) => {
        // Get the group key (assuming the group is the same for all items in the array)
        const groupKey = group[0].group;

        // Initialize the group if it doesn't exist
        if (!groupedItems[groupKey]) {
          groupedItems[groupKey] = [];
        }

        // Push unique items into the corresponding group
        group.forEach((item) => {
          const existingItemIndex = groupedItems[groupKey].findIndex(
            (existingItem) => existingItem.n_id === item.items.n_id
          );
          if (existingItemIndex === -1) {
            groupedItems[groupKey].push(item.items);
          }
        });
      });

      // Convert object values back to an array
      const resultArray = Object.entries(groupedItems).map(
        ([group, items]) => ({
          group,
          items,
        })
      );

      return resultArray;
    };
    // console.log(getDropdownItem());
    function handleOptionClick(event, { url }) {
      url = event.target.value;

      const elTableau = document.getElementById("tableau-viz");
      const elIframe = document.getElementById("iframe");
      const selectedOwner = event.target.options[event.target.selectedIndex].getAttribute("data-owner");
      const selectedUtube = event.target.options[event.target.selectedIndex].getAttribute("data-utube");
      const selectedDesc = event.target.options[event.target.selectedIndex].getAttribute("data-desc");
      const elOwner = document.getElementById("labelOwner");
      const elUtube = document.getElementById("labelUtube");
      const elDesc = document.getElementById("labelDesc");
      const matchStr = url.match(/tableau\.com/);

      if (matchStr != null) {
        elIframe.style.display = "none";
        elTableau.style.display = "block";
        elTableau.setAttribute("src", url);
      } else {
        elTableau.style.display = "none";
        elIframe.style.display = "block";
        elIframe.setAttribute("src", url);
      }

      elOwner.textContent = selectedOwner;

      if (selectedUtube && selectedUtube !== "0") {
        elUtube.innerHTML = `<a onclick="window.parent.document.getElementById('youtubeEmbed').click()" title="Video" style="margin-left: 10px; cursor: pointer;"><i class="glyphicon glyphicon-play-circle" style="font-size: 25px;"></i></a>`;
      } else {
        elUtube.innerHTML = "";
      }

      if (selectedDesc && selectedDesc !== "0") {
        elDesc.innerHTML = `<a title="Info" style="margin-left: 10px; cursor: pointer;"><i class="glyphicon glyphicon-info-sign" style="font-size: 25px;"></i></a>`;
      } else {
        elDesc.innerHTML = "";
      }
    }
  </script>
</html>
